@model Coche

<h1>Details Ajax View</h1>

@if (Model == null)
{
    <h2 style="color:red">
    No se ha encontrado el coche</h2>
}
else
{
    //hazlo en una carta
    <div class="card" style="width: 18rem;">
        <img src="@Model.Imagen" class="card-img-top" alt="@Model.Marca @Model.Modelo">
        <div class="card-body">
            <h5 class="card-title">@Model.Marca @Model.Modelo</h5>
        </div>
    </div>

}